<h1>Book Info for mobile</h1>
<p>
    <strong>Book Title:</strong>
    <%= @book.name %>
</p>
<p>
    <strong>Price:</strong>
    <%= @book.price %>
</p>
<p>
    <strong>Published date:</strong>
    <%= @book.published_on.to_s %>
</p>